.menu {
  position: sticky;
  top: 0;
  max-width: max-content;
  float: right;
  z-index: 3;
}

.menu__check {
  width: 50px;
  height: 35px;
  position: absolute;
  z-index: 11;
  top: 10px;
  right: 10px;
  opacity: 0;
}

.menu__line:nth-child(3) {
  margin-top: 14px;
}

.menu__line:nth-child(4) {
  margin-top: 28px;
}

.menu__line {
  display: block;
  position: absolute;
  width: 50px;
  height: 7px;
  background-color: #00a4e5;
  border-radius: 3px;
  z-index: 10;
  top: 10px;
  right: 10px;
}

.menu__list {
  position: absolute;
  top: 0px;
  right: 0px;
  list-style-type: none;
  width: max-content;
  height: 300px;
  background-color: #e6e6e6;
  /* opacity: 0.3; */
  z-index: 8;
  padding: 60px 100px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  transform: translate(100%, 0);
  transition: 0.5s;
  border-radius: 0 0 0 5px;
  box-shadow: 2px 2px 5px #48555b;
}

.menu__link {
  text-decoration: none;
  color: inherit;
  z-index: 9;
}

.menu__check:checked ~ .menu__list {
  transform: none;
  transition: 0.5s;
}

@media (min-width: 1024px) {
  .menu {
    display: none;
  }
}
